/* MessagesComponent's private CSS styles */

@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Roboto+Condensed:wght@700&display=swap');

/*heading*/
h1,
h2,
label {
  font-family: 'Roboto Condensed', sans-serif;
}

/*paragraph*/
p,
a,
input,
li,
ul {
  font-family: 'Cabin', sans-serif;
}

h2 {
  color: #A80000;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

.clear {
  color: #333;
  background-color: #eee;
  margin-bottom: 12px;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1rem;
}

.clear:hover {
  color: white;
  background-color: #42545C;
}
